@CHARSET "ISO-8859-1";
.navbar {
	margin-bottom: 0;
	background-color: #2d2d30;
	border: 0;
	font-size: 15px !important;
	letter-spacing: 4px;
	opacity: 0.9;
}

.navbar-brand {
	transform: translateX(-50%);
	left: 50%;
	position: absolute;
	padding-top: 5px;
}

body {
	font-family: 'Russo One', sans-serif;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: url(/images/backgroundInfoAdmin.jpeg) no-repeat center top;
	position: fixed;
	z-index: -1;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #c0c0c0;
}

.conteiner {
	padding: 90px 120px;
}



legend {
	font-family: 'Russo One', sans-serif;
	color: black;
	font-size: 30;
	
}
.listaAutori{
margin: 200px;
}
span {
	font-family: 'Russo One', sans-serif;
	color: black;
	font-size: 28;
	text-align: left;
	padding: 10px 0;
	position: relative;
	top: 300px;
	left: 150px;
}

.title {
	font-family: 'Russo One', sans-serif;
	color: white;
	font-size: 30;
	position: relative;
	top: 280px;
	left: 150px;
}
a{
color: black;
}
.nomeArtista{
font-size: 20;
}