<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"></link>

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- Font google -->
<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet"></link>
<!-- Foglio di stile -->
<link rel="styleSheet" href="/css/infoUtente.css"></link>

<meta charset="ISO-8859-1"></meta>
<title>StarWarsGallery</title>
</head>



<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<!-- <a class="navbar-brand" href="#"> lato in alto a sinistra </a>-->
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				
      				<ul class="nav navbar-nav navbar-left">
					 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown"th:text="#{label.opzioniUtente}">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
           <li><a href="/utente/listaAutoriUtente">Naviga per Autori</a></li>
           <li><a href="/utente/listaAnni">Naviga per anno Opera</a></li>
           
          </ul>
        </li>
				</ul>
					
				<div class="navbar-brand"><a href="/default"><img src="/images/brand.png"
					height="50" ></img></a></div>
					
				<div class="collapse navbar-collapse" id="myNavbar">
      				<ul class="nav navbar-nav navbar-right">
					 <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" th:text="${nomeUtente}">
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li><a href="/logout">Logout</a></li>
            <li><a href="/utente/infoUtente">Info</a></li>
           
          </ul>
        </li>
				</ul>
				</div>
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>

<div class="containe">
	<div class="title">Info Utente</div>
	<span th:text="#{label.email}"></span><span th:text="${utente.email}"> </span><br></br>
	<span th:text="#{label.nome}"></span><span th:text="${utente.nome}"> </span><br></br>
	<span th:text="#{label.cognome}"></span><span th:text="${utente.cognome}"> </span><br></br>
	</div>
	
	
	